<div class="card">
  <strong>{{ adr.receiverName1 }}</strong>
  <p>{{ adr.receiverPhoneNumber1 }}</p>
  <p *ngIf="adr.receiver2Exist">{{ adr.receiverName2 }}</p>
  <p *ngIf="adr.receiver2Exist">{{ adr.receiverPhoneNumber2 }}</p>
  <p>{{ adr.address }}</p>
  <p>{{ adr.province }}</p>
  <p>{{ adr.city }}</p>
  <p>{{ adr.suburbs }}</p>
  <p>{{ adr.area }}</p>
  <p>{{ adr.email }}</p>
  <p>{{ adr.postalCode }}</p>
  <p class="text-right" *ngIf="adr.setAsMainAddress">Alamat Utama</p>
  <button class="btn btn-danger" (click)="onDeleteAddress(adr.id)">
    Delete
  </button>
</div>
